/* Reset all margins and padding */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    color: var(--foreground);
    background: var(--background);
}

header {
    text-align: center;
    margin-top: 2rem;
}
h1 {
    font-size: 2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    max-width: 64rem;
    margin: auto;
    padding: 1rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--foreground);
    font-size: 1.3rem;
    text-decoration: none;

    background: var(--background-2);
    border: 1px solid var(--accent);
    border-radius: 0.5rem;

    width: 20rem;
    height: 5rem;
    padding: 1rem;
}
.card img {
    height: 3rem;
}
.card:hover {
    background: var(--background-3);
}
.card:last-child {
    background: none;
    border: none;
    height: 0rem;
    padding: 0rem;
}

a {
    color: var(--accent);
}

:root {
    --background: #ffffff;
    --background-2: #eeeeee;
    --background-3: #dddddd;
    --foreground: #444444;
    --accent: #4f718d;
}
@media only screen and (prefers-color-scheme: dark) {
    :root {
        --background: #222222;
        --background-2: #333333;
        --background-3: #444444;
        --foreground: #dddddd;
        --accent: #81a2be;
    }
}
@media only screen and (max-width: 450px) {
    h1 {
        font-size: 6vw;
    }
}
