/* default styles */
* {
    margin: 0px;
    padding: 0px;
    transition-duration: 0.25s;
}

/* body styles */
body {
    font-family: Segoe UI, sans-serif;
    background-color: #202020;
    color: #E0E0E0;
    padding: 15px;
}

/* page title */
h1 {
    margin: 15px;
}

/* app cards */
.card {
    display: inline-block;
    margin: 15px;
    background-color: #404040;
    color: #E0E0E0;
    text-decoration: none;
}

/* non-mobile devices */
@media only screen and (min-width: 450px) {
    .card {
        height: 100px;
        width: 375px;
    }
    .card:hover, .card:focus {
        box-shadow: 0 0 15px #808080;
        transform: scale(1.05);
    }
    .card div {
        display: grid;
        grid-template-rows: 35px 65px;
        grid-template-columns: 100px auto;
    }
    .card div img {
        grid-row: 1 / 3;
        grid-column: 1;
        height: 100px;
    }
    .card div h2 {
        margin: 5px 10px;
        grid-row: 1;
        grid-column: 2;
    }
    .card div p {
        margin: 5px 10px;
        grid-row: 2;
        grid-column: 2;
    }
}

/* mobile devices */
@media only screen and (max-width: 450px) {
    h1 {
        text-align: center;
        font-size: 7vw;
    }
    .card {
        width: calc(100% - 30px);
        height: auto;
    }
    .card div {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 40px auto;
    }
    .card div img {
        grid-row: 1 / 3;
        grid-column: 1;
        height: 40px;
    }
    .card div h2 {
        margin: 5px 10px;
        grid-row: 1;
        grid-column: 2;
    }
    .card div p {
        margin: 5px;
        grid-row: 2;
        grid-column: 1 / 3;
    }
}
